extends ./layout/index 

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5  
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend eu diam eu pulvinar. Aliquam id risus libero. Ut ullamcorper laoreet egestas. Quisque et tortor arcu. Vivamus eu elementum lorem, sed ultricies ligula. Aliquam id congue nisl. Curabitur blandit urna eget risus aliquet eleifend. Cras pretium viverra nisl non volutpat. Nam sed turpis vitae quam vestibulum placerat vitae sit amet est. Sed nec est in dolor rutrum sollicitudin.
                p Etiam tempus maximus urna, at pharetra libero. Ut pretium turpis at leo ultrices mollis. Sed quam turpis, blandit eget ipsum id, viverra pretium nibh. Nulla mollis elit eu ligula malesuada, quis elementum nisi varius. Nunc turpis sem, eleifend non nunc et, sodales iaculis ipsum. Donec urna tortor, dignissim consequat eleifend sit amet, molestie in ex. Aenean sapien tellus, gravida sed convallis quis, faucibus sit amet lorem. Pellentesque aliquam euismod quam ut venenatis.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col.md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 La mayor seguridad 
                    p Nunc turpis sem, eleifend non nunc et, sodales iaculis ipsum. Donec urna tortor, dignissim consequat eleifend sit amet, molestie in ex. Aenean sapien tellus, gravida sed convallis quis, faucibus sit amet lorem. Pellentesque al

                .col.md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos 
                    p Nunc turpis sem, eleifend non nunc et, sodales iaculis ipsum. Donec urna tortor, dignissim consequat eleifend sit amet, molestie in ex. Aenean sapien tellus, gravida sed convallis quis, faucibus sit amet lorem. Pellentesque al

                .col.md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p  Nunc turpis sem, eleifend non nunc et, sodales iaculis ipsum. Donec urna tortor, dignissim consequat eleifend sit amet, molestie in ex. Aenean sapien tellus, gravida sed convallis quis, faucibus sit amet lorem. Pellentesque al
