footer.container.py-5 
    .row
        .col-md-8
             nav.mt-5.mt-md-4.nav.justify-content-center.justify-content-md-start 
                        a.nav-link(href="/nosotros") Nosotros 
                        a.nav-link(href="contacto") Contacto
                        a.nav-link(href="viajes") Viajes
                        a.nav-link(href="testimonios") Testimonios       
        .col         
             p.copyright.text-center.text-md-rigth 
               | Todos los derechos reservados 
               span= actualYear  